<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
    <head>
       <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
       <meta http-equiv="Content-Language" content="ru-RU" />
       {% block media%}{% endblock %}
       {% block css %}
       {% endblock %}
        <script type="text/javascript">
            {% block javascript %}
            {% endblock %}
        </script>
        <title>{% block title %} Payment through pay-world.ru {% endblock %} </title>
    </head>
    <body>
        <div id="centred_block">
        {% block content %}{% endblock %}
        </div>
    </body>
</html>
