{% extends 'base.html' %}
{% load i18n %}

{% block title %}Success{% endblock %}

{% block content %}
<p>Your transaction number {{ transaction_id }} for order {{ order_id }} ({{ order_total }} RUR total) was successfully proceeded</p>

<p>Payworld result message:</p>

<cite>{{ result_message }}</cite>

{% endblock %}
